/node_modules
/public/hot
/public/frontend
/public/storage
/storage/*.key
/app/Http/Controllers/frontend
/resources/views/frontend
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
